@import './../vars.scss';

.todo-item {
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: 15px;
  background-color: $black;
  padding: 8px 15px;
  width: 100%;
  border-radius: 15px;
  font-weight: 400;
  border: 2px solid $purple;
}

.todo-item.todo-done {
  border-color: $graymuted;
  text-decoration: line-through;
  color: $graymuted;
}

.todo-text {
  flex-grow: 1;
  font-size: $default-size * 0.8;

  @media only screen and (max-width: $phone) {
    font-size: $default-size * 0.7;
  }
}

.todo-item.todo-done .todo-text,
.todo-item.todo-done .todo-check,
.todo-item.todo-done .todo-delete {
  color: $graymuted;
}

.todo-check,
.todo-delete {
  cursor: pointer;
  transition: all 0.1s ease-in;
  flex-shrink: 0;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $gray;
    }
    &:active {
      color: $graymuted;
    }
  }
}

.todo-check {
  font-size: 25px;
}

.todo-delete {
  font-size: 35px;
}
