.todo-item {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: rgba(123, 63, 236, 0.649);
  padding: 15px 20px;
  border-radius: 15px;
  font-weight: 400;
  max-height: 35px;
}

.todo-check {
  font-size: 30px;
}

.todo-text {
  flex-grow: 1;
  font-size: 18px;
}

.todo-delete {
  font-size: 45px;
  padding: 10px;
}
