@import './../vars.scss';

.todo-form {
  display: flex;
  column-gap: 30px;
  max-width: 450px;

  @media only screen and (max-width: $tablet) {
    width: 100%;
    column-gap: 15px;
  }

  @media only screen and (max-width: $phone) {
    column-gap: 10px;
  }
}

.todo-input {
  width: 100%;
  flex-shrink: 1;
  border-bottom: 2px solid $gray;
  font-size: $default-size * 0.8;
  padding: 10px;
  line-height: 1;

  &::placeholder {
    font-size: $default-size * 0.8;
    color: $graymuted;
  }
  &:focus {
    border-bottom: 2px solid $purple;
  }

  @media only screen and (max-width: $phone) {
    font-size: $default-size * 0.7;
    &::placeholder {
      font-size: $default-size * 0.7;
      color: $graymuted;
    }
  }
}

.todo-button {
  width: 90px;
  flex-shrink: 0;
  height: 55px;
  border-bottom: 2px solid $purple;
  color: $purple;
  background-color: var(--maincolor);
  font-size: $default-size;
  // transition: background-color 0.2s ease-in, border-radius 0.2s ease-in,
  //   color 0.2s ease-in;

  @media only screen and (max-width: $phone) {
    width: 60px;
    font-size: $default-size * 0.8;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transition: background-color 0.2s ease-in, border-radius 0.2s ease-in,
        color 0.2s ease-in;
      background-color: $purple;
      color: var(--maincolor);
      border-radius: 15px;
    }
  }

  &:active {
    background-color: $purple;
    color: $gray;
  }
}
