@import './vars.scss';

.container {
  max-width: $container;
  padding: 50px 15px;
  margin: 0 auto;
}

.todo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media only screen and (max-width: $laptop) {
    align-items: center;
  }

  @media only screen and (max-width: $tablet) {
    max-width: 100%;
    align-items: center;
    gap: 30px;
  }
}

.title-toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: space-between;
  @media only screen and (max-width: $laptop) {
    gap: 80px;
  }
  @media only screen and (max-width: $tablet) {
    align-items: flex-end;
    gap: 25px;
  }
}

.todo-title {
  font-size: 40px;
  @media only screen and (max-width: $tablet) {
    font-size: 30px;
  }
  @media only screen and (max-width: $phone) {
    font-size: 25px;
  }
}

.todo-list-wrapper {
  display: flex;
  justify-content: flex-start;
  column-gap: 30px;

  @media only screen and (max-width: $tablet) {
    // justify-content: center;
    column-gap: 20px;
    width: 100%;
  }

  @media only screen and (max-width: $phone) {
    // height: 100%;
    flex-direction: column;
    // justify-content: space-between;
    column-gap: 10px;
  }
}

.theme-toggle-wrapper {
  display: flex;
  align-items: center;
}

.theme-toggle {
  display: inline-block;

  input {
    display: none;
  }
}

.theme-toggle-btn {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid $purple;
  background-color: var(--maincolor);
  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 5px;
    top: 3px;
    background-color: $gray;
    transition: left 0.2s ease-in;
  }
}

.theme-toggle-btn.dark::before {
  left: 30px;
}
