@import './vars.scss';

.container {
  max-width: $container;
  padding: 50px 15px;
  margin: 0 auto;
}

.todo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media only screen and (max-width: $tablet) {
    max-width: 100%;
    align-items: center;
    gap: 30px;
  }
}

.todo-title {
  font-size: 40px;
  @media only screen and (max-width: $tablet) {
    font-size: 30px;
  }
  @media only screen and (max-width: $phone) {
    font-size: 25px;
  }
}

.todo-list-wrapper {
  display: flex;
  justify-content: flex-start;
  column-gap: 30px;

  @media only screen and (max-width: $tablet) {
    // justify-content: center;
    column-gap: 20px;
    width: 100%;
  }

  @media only screen and (max-width: $phone) {
    // height: 100%;
    flex-direction: column;
    // justify-content: space-between;
    column-gap: 10px;
  }
}
