@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
  background-color: black;
  color: rgb(126, 19, 176);
  font-family: 'Fredoka', sans-serif;
  font-size: 36px;
}
