@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import './vars.scss';

body {
  // background-color: $maincolor;
  background-color: var(--maincolor);

  color: $purple;
  font-family: $font-main;
  font-size: $default-size;
}
