//Fonts
$font-main: 'Fredoka', sans-serif;
$default-size: 25px;

//Colors
$black: rgb(7, 7, 7);
$purple: rgb(137, 21, 191);
$gray: rgb(121, 116, 116);
$graymuted: rgba(121, 116, 116, 0.644);

$container: 830px;

//Media
$desktop: 1200px;
$tablet: 767px;
$phone: 425px;
